<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="managementLayout">

<head>
    <title>Management Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/table.css}">
    <script>
        $(document).ready(function () {
            // Activate tooltip
            $('[data-toggle="tooltip"]').tooltip();

            // Select/Deselect checkboxes
            var checkbox = $('table tbody input[type="checkbox"]');
            $("#selectAll").click(function () {
                if (this.checked) {
                    checkbox.each(function () {
                        this.checked = true;
                    });
                } else {
                    checkbox.each(function () {
                        this.checked = false;
                    });
                }
            });
            checkbox.click(function () {
                if (!this.checked) {
                    $("#selectAll").prop("checked", false);
                }
            });
        });


    </script>
</head>
<body>
<div layout:fragment="mycontent">
    <div class="container-xl" style="margin-top: 15%">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2> Teacher <b>Management Page</b></h2>
                        </div>
                        <div class="col-sm-6">
                            <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i
                                    class="material-icons">&#xE147;</i> <span>Add New Teacher</span></a>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Tc Number</th>
                        <th>Name</th>
                        <th>SurName</th>
                        <th>Mail</th>
                        <th>Phone</th>
                        <th>Gender</th>
                        <th>Record Time</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="teacher:${teacherList.getTeachersModels()}">
                        <td th:text="${teacher.tcNumber}"></td>
                        <td th:text="${teacher.name}"></td>
                        <td th:text="${teacher.surName}"></td>
                        <td th:text="${teacher.mail}"></td>
                        <td th:text="${teacher.phoneNumber}"></td>
                        <td th:text="${teacher.gender}"></td>
                        <td th:text="${teacher.recordTime}"></td>
                        <td>
                            <a th:href="@{/management/getTeacherUpdate/{teacher_id}(teacher_id=${teacher.teacherId})}" class="btn waves-effect waves-dark btn-info btn-outline-info"  >Edit</a>
                             <a th:href="@{/management/getTeacherDelete/{teacher_id}(teacher_id=${teacher.teacherId})}"
                               class="btn waves-effect waves-dark btn-danger btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Add Modal HTML -->
    <div id="addEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/management/postTeacherCreate}"  method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Student</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Tc Number</label>
                            <input type="text" name="tcNumber" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="name" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>SurName</label>
                            <input type="text" name="surName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Mail</label>
                            <input type="text" name="mail" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="text" name="password" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="number" name="phoneNumber" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="languageselector">Lesson Select</label>
                            <select class="form-control" name="lessonId" id="languageselector">
                                <option>Select</option>
                                <option id="editInfo" th:each="operator : ${teacherList.getLessonsModels()}"
                                        th:value="${operator.lessonId}"
                                        th:text="${operator.lessonName  }"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Gender</label>
                            <input type="radio" name="gender" th:value="1" class="form-control" required>E
                            <input type="radio" name="gender" th:value="0" class="form-control" required>K
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-success" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
