<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body>

	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Registration and
					Login Module</a>
			</div>
		</div>
	</nav>

<br>
<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<h1>Registration</h1>

				<form th:action="@{/registration}" method="post"  >
					<div class="form-group">
						<label class="control-label" for="name"> First Name </label>
						<input id="name"  name="name"  class="form-control"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="surName"> Last Name </label> <input
							id="surName"  name="surName" class="form-control"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="tcNumber">Tc Number </label> <input
							id="tcNumber"  name="tcNumber" class="form-control"
							required autofocus="autofocus" />
					</div>
					<div class="form-group">
						<label class="control-label" for="mail"> Email </label> <input
							id="mail" name="mail" class="form-control"   required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" name="password" class="form-control" type="password"
							  required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="schoolNumber"> schoolNumber </label> <input
							id="schoolNumber" name="schoolNumber" class="form-control" type="password"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="schoolClass"> schoolClass </label> <input
							id="schoolClass" name="schoolClass" class="form-control" type="password"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="phoneNumber"> phoneNumber </label> <input
							id="phoneNumber" name="phoneNumber" class="form-control" type="password"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="gender"> gender </label> <input
							id="gender" name="gender" class="form-control" type="password"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}">Login
								here</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>